<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>example</title>
	
	<!-- add css here -->
	<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
	
</head>
<body>
	<!-- add image here -->
<img class="profile" th:src="@{/image/myimage.jpeg}">
	
	<div class="container">
		<h1>Adding CSS, Java Script and Image in thymeleaf</h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam omnis voluptatem ratione magni eos mollitia vitae magnam nihil at perferendis explicabo aliquam maiores expedita voluptate fuga repellendus minus laudantium aspernatur illo placeat! Tempore aperiam illo temporibus adipisci laudantium aspernatur itaque quod qui magnam rerum. Quasi rerum ex voluptate quibusdam fuga.
	</div>
	
	<!-- add Java Script here -->
	<script th:src="@{/js/myjs.js}" ></script>
	
</body>
</html>