<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>ServicePage</title>
</head>
<body>
	<!-- going to bring Footer here -->
									<!-- replace footer here -->
	<footer id="hostTag" th:replace="footer::footer1" ></footer>
									
									<!-- insert footer here -->
	<footer id="hostTag" th:insert="footer::footer1" ></footer>
										
										<!-- include footer here -->
	<footer id="hostTag" th:include="footer::footer1" ></footer>
	
							<!-- THE OUTPUT IN PAGE -->
<!-- 	<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>ServicePage</title>
</head>
<body>
	going to bring Footer here
									replace footer here
	<footer id="fragmentTag">
		<div class="container" >
			<h2>About Learn code with durgesh</h2>
			<h2>Provide Good content </h2>
			<p> loremfdgdf,d gerhgd dgdfh dfgd dfgf wtwfndv </p>
		</div>
	</footer>
									
									insert footer here
	<footer id="hostTag" ><footer id="fragmentTag">
		<div class="container" >
			<h2>About Learn code with durgesh</h2>
			<h2>Provide Good content </h2>
			<p> loremfdgdf,d gerhgd dgdfh dfgd dfgf wtwfndv </p>
		</div>
	</footer></footer>
										
										include footer here
	<footer id="hostTag" >
		<div class="container" >
			<h2>About Learn code with durgesh</h2>
			<h2>Provide Good content </h2>
			<p> loremfdgdf,d gerhgd dgdfh dfgd dfgf wtwfndv </p>
		</div>
	</footer>
	
	
</body>
</html> -->
	
</body>
</html>