<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>ServicePage</title>
</head>
<body>
	<!-- going to bring Footer here -->
									<!-- replace footer here -->
	<!-- <footer id="hostTag" th:replace="footer::footer1('This is titile', 'This is substitle')" ></footer> -->
					<!-- OUTPUT 	
					<footer id="fragmentTag">
		<div class="container" >
			<h3>This is titile</h3>
			<h3>This is substitle</h3>
			<h2>About Learn code with durgesh</h2>
			<h2>Provide Good content </h2>
			<p> loremfdgdf,d gerhgd dgdfh dfgd dfgf wtwfndv </p>
		</div>
	</footer> -->			
	
	<footer id="hostTag" th:replace="footer::footer1(${title}, ${substitle})" ></footer>
	
		<!-- OUTPUT 
		<footer id="fragmentTag">
		<div class="container" >
			<h3>My Country India</h3>
			<h3>2022-12-01T20:10:54.417794800</h3>
			<h2>About Learn code with durgesh</h2>
			<h2>Provide Good content </h2>
			<p> loremfdgdf,d gerhgd dgdfh dfgd dfgf wtwfndv </p>
		</div>
	</footer> -->
	
</body>
</html>